@using Microsoft.EntityFrameworkCore;
@model IEnumerable<EventManager.Models.Event>
@inject UserManager<ApplicationUser> UserManager

<h2>All Upcoming Events</h2>
<form class="form-inline">
    <div class="form-group">
        <input type="search" name="search" />
    </div>
    <button type="submit" class="btn btn-info btn-sm">Search</button>
    @if (!string.IsNullOrEmpty(ViewBag.Search))
    {
        <a asp-action="UserIndex" class="btn btn-sm btn-info">All Events</a>
    }
</form>
@foreach (var show in Model)
{
    <h4><b>@show.Artist.Name</b>&nbsp;&nbsp;
    @if (UserManager.Users.Include(u => u.Artists).SingleOrDefault(u => u.UserName == User.Identity.Name).Artists == null)
    {
        <span><a asp-action="Follow" asp-route-id="@show.Artist.Id" class="btn btn-sm btn-danger">Follow</a></span>
    }
    else if (UserManager.Users.Include(u => u.Artists).SingleOrDefault(u => u.UserName == User.Identity.Name).Artists.Any(a => a.ArtistID == show.Artist.Id))
    {
      <span><a asp-action="UnFollow" asp-route-id="@show.Artist.Id" class="btn btn-sm btn-danger">UnFollow</a></span>
    }
    else
    {
      <span><a asp-action="Follow" asp-route-id="@show.Artist.Id" class="btn btn-sm btn-danger">Follow</a></span>
    }
    </h4>
    <div class="main" style="color:darkblue">
        <div class="right">
            <div class="upperleft" style="background-color:gainsboro">@show.Venue</div>
            <div><b>@show.Genre.Name</b></div>
        </div>
        <div class="left">
            <div class="upperleft" style="background-color:gainsboro"><b>@show.Date.ToString("MMM").ToUpper()</b></div>
            <div>@show.Date.ToString("dd")</div>
        </div>
    </div>
    <br />
        if (show.Users.Any(u => u.UserID == UserManager.Users.SingleOrDefault(n => n.UserName == User.Identity.Name).Id))
        {
            <a class="btn btn-sm btn-success" asp-action="Unattend" asp-route-id="@show.EventID">Attending</a>
        }
        else
        {
            <a class="btn btn-sm btn-default" asp-action="Reserve" asp-route-id="@show.EventID">Reserve Seat</a>
    }
    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@show.EventID">Details</a>
    <br /><br />
}